/* #region page */

html {

    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
}

/* #endregion */


/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 100%;
    font-style: italic;
    font-weight: 800;
    letter-spacing: -1.5px;
}


.loader {
    height: 76px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.loader .stroke {
    display: block;
    position: relative;
    background: #292929;
    height: 100%;
    width: 2.5px;
    border-radius: 50px;
    margin: 0 2px;
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.2s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 1s;

}

.stroke:nth-child(5) {
    animation-delay: 0.8s;
}

.stroke:nth-child(6) {
    animation-delay: 1.4s;
}

.stroke:nth-child(7) {
    animation-delay: 1.6s;
}

.stroke:nth-child(8) {
    animation-delay: 0.8s;
}

.stroke:nth-child(9) {
    animation-delay: 0.6s;
}

.stroke:nth-child(10) {
    animation-delay: 0.2s;
}

.stroke:nth-child(11) {
    animation-delay: 0s;
}

/* #endregion */


/* #region menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background: #E8EFF9;
}

.menu:target {
    transform: translateX(-0%);
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

/* #endregion */


/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.nav__link {
    color: #292929;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* #endregion */


/* #region main */
.main {
    padding: 120px;
    background-color: white;
}

/* #endregion */


/* #region recommended */
.recommended {
    margin-bottom: 120px;
}

.recommended__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1.5px;
}

.recommended__products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* #endregion */


/* #region product */
.product {
    flex-basis: 324px;
}

.product__photo {
    width: 100%;
    margin-bottom: 32px;
}

.product__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 140%;
}

.product__category {
    margin-top: 0;
    margin-bottom: 12px;
}

.product__price {
    margin: 0;
    font-weight: bold;
}

/* #endregion */


/* #region categories */
.categories {
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.categories__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1.5px;
}

/* #endregion */


/* #region category */
.category {
    margin-bottom: 64px;
}

.category__photos {
    display: flex;
    gap: 3%;
    margin-bottom: 16px;
    overflow-x: hidden;
}

.category__title {
    /* font-size: 24px; */
    margin: 0;
}

/* #endregion */


/* #region photo */
.photo-wide {
    width: 65%;
}

.photo-square {
    width: 32%;
}

/* ################################## */

.Headphones-earbuds-wide {
    background-image: url(images/categories/Headphones-earbuds-wide.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Headphones-earbuds-square {
    background-image: url(images/categories/Headphones-earbuds-square.png);
}

.Speakers-wide {
    background-image: url(images/categories/Speakers-wide.png);
}

.Speakers-square {
    background-image: url(images/categories/Speakers-square.png);
}

.Audio-sunglasses-square {
    background-image: url(images/categories/Audio-sunglasses-square.png);
}

.Audio-sunglasses-wide {
    background-image: url(images/categories/Audio-sunglasses-wide.png);
}

.Headphones-earbuds-wide,
.Audio-sunglasses-wide,
.Speakers-wide,
.Headphones-earbuds-square,
.Speakers-square,
.Audio-sunglasses-square {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}

/* #endregion */


/* #region how-to-buy */
.how-to-buy {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.how-to-buy__title {
    flex-basis: 50%;
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.how-to-buy__content {
    flex-basis: 50%;
}

.how-to-buy__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
}

/* #endregion */


/* #region footer */
.footer {
    position: sticky;
    bottom: 0;
    z-index: -1;
    height: 460px;
    background-image: url(images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #endregion */


@media (max-width: 1024px) {
    .Headphones-earbuds-wide,
.Audio-sunglasses-wide,
.Speakers-wide,
.Headphones-earbuds-square,
.Speakers-square,
.Audio-sunglasses-square {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 253px;
}
}

@media (max-width: 744px) {

    .header,
    .menu {
        padding: 64px 72px 40px;
        height: 800px;
    }

    .header__title,
    .recommended__title,
    .categories__title,
    .how-to-buy__title {
        font-size: 40px;
    }

    .main {
        padding: 72px 72px 120px;
    }

    .recommended__products {
        display: block;
    }

    .Headphones-earbuds-wide,
    .Audio-sunglasses-wide,
    .Speakers-wide,
    .Headphones-earbuds-square,
    .Speakers-square,
    .Audio-sunglasses-square {
        height: 187px;
    }
}


@media (max-width: 550px) {
    .how-to-buy {
        display: block;
    }
    .Headphones-earbuds-wide,
    .Audio-sunglasses-wide,
    .Speakers-wide,
    .Headphones-earbuds-square,
    .Speakers-square,
    .Audio-sunglasses-square {
        height: 130px;
    }
    .photo-wide {
        width: 50%;
    }

    .photo-square {
        width: 50%;
    }
}


@media (max-width: 375px) {

    .header,
    .menu {
        padding: 36px 20px 32px;
        height: 500px;
    }

    .header__title,
    .recommended__title,
    .categories__title,
    .how-to-buy__title {
        font-size: 32px;
    }

    .main {
        padding: 20px 20px 120px;
    }

    .category {
        margin-bottom: 40px;
    }

       .how-to-buy__title {
        margin-bottom: 32px;
    }
}